name: Build & Publish Release APK

on:
  push:
    branches:
      - main

jobs:
  Gradle:
    runs-on: ubuntu-latest
    steps:
    - name: checkout code
      uses: actions/checkout@v2
    - name: setup jdk
      uses: actions/setup-java@v1
      with:
        java-version: 11
    - name: npm install
      run: npm install
    - name: run APP_FOLDER
      run:   mkdir -p ./android/app/src/main/assets
    - name: abc
      run: npx react-native bundle --dev false --platform android --entry-file index.js --bundle-output ./android/app/src/main/assets/index.android.bundle --assets-dest ./android/app/src/main/res
    - name: Make Gradle executable
      run: chmod +x gradlew
    - name: Build Release APK
      run: ./gradlew assembleRelease
    - name: Releasing using Hub
      uses: kyze8439690/action-release-releaseapk@master
      env:
       GITHUB_TOKEN: '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'
       APP_FOLDER: andoid
